.btn { 
    background-color: $yellow-color;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    
    &:hover {
        background-color: $grey;
        color: $yellow-color;
    }

    &:active {
        font-size: 12px;
    }

}

.btn--height {
     height: 65px;
     width: 170px;
 }

.btn--lg {
    width: 230px;
    height: 52px;
}

.btn--md {
    width: 175px;
    height: 55px;
}

.btn--s {
    width: 140px;
    height: 40px;
}

.btn--xs {
    width: 120px;
    height: 45px;
}