.btn { 
    background-color: $yellow-color;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    border: none;

}



.btn--md {
    width: 175px;
    height: 55px;
}

.btn--s {
    width: 140px;
    height: 40px;
}