.line {
    margin-top: 50px;

    width: 60px;
    height: 3px;
    background-color: $yellow-color;
}

.line--md {

    width: 285px;
    height: 3px;
    background-color: white;

    margin-bottom: 120px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title__name {
        font-family: Montserrat;
        font-size: 22px;//1.375vw;
        font-weight: bold;
        font-style: normal;
        color: $grey;
        text-align: center;

        text-transform: uppercase;
        padding-bottom: 15px;

        span {
            color:  $yellow-color;
        }
    }

    // Modification
    .title__name--white {
        color: white ;
        padding-bottom: 5px;
    }

    .title__paragraph {
        font-family: Lato;
        font-size: 16px;//1vw;
        font-weight: 400;
        font-style: normal;
        color: #4d4943;
        text-align: center;
    }

    p {
        margin-top: 60px;
        color: white;

        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;

        span {
            color: $yellow-color;
        }
    }

}

.title__btn {
    margin-top: 60px;

    background-color: inherit;
    color: white;

    border: 1px solid white;
    border-radius: 1px;

    padding: 20px 55px;

    font-family: Lato;
    font-weight: bold;
    font-size: 14px;

    &:hover {
        -moz-box-shadow:    inset 0 0 10px #fff;
        -webkit-box-shadow: inset 0 0 10px #fff;
        box-shadow:         inset 0 0 10px #fff;
    }

    &:active {
        font-size: 12px;
    }


}