.line {
    margin-top: 50px;

    width: 60px;
    height: 3px;
    background-color: $yellow-color;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title_name {
        font-family: Montserrat;
        font-size: 22px;//1.375vw;
        font-weight: bold;
        font-style: normal;
        color: $grey;

        text-transform: uppercase;
        padding-bottom: 15px;

        span {
            color:  $yellow-color;
        }
    }

    .title_paragraph {
        font-family: Lato;
        font-size: 16px;//1vw;
        font-weight: 400;
        font-style: normal;
        color: #4d4943;
    }

}

// Modification
.title_name--white {
    color: white !important;
}