.title {
    position: relative;
    text-align: center;

    .title_name {
        font-family: Montserrat;
        font-size: 22px;//1.375vw;
        font-weight: bold;
        font-style: normal;
        color: #333333;

        text-transform: uppercase;
        padding-bottom: 15px;
    }

    .title_paragraph {
        font-family: Lato;
        font-size: 16px;//1vw;
        font-weight: 400;
        font-style: normal;
        color: #4d4943;
    }

}