/****************** Отступы ******************/

//p - padding
//m - margin
// t - top, b - bootom, r - right, l - left
// .**-num , where "num" = "num"px but in new variable vw
// 1vw = 1600px (width psd) / 100;

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;//6.875vw;
}

.pt-170 {
    padding-top: 170px;//10.625vw;
}

.pt-150 {
    padding-top: 150px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-200 {
    padding-top: 200px;
}

.mt-10 {
    margin-top: 10px;
}
/****************** MAIN ******************/

.main {
    height: 100vh;
    background:  url(../images/main-img.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    padding-bottom: 16vh;
    padding-left: 80px;
}

.main__title {
    color:white;
    margin-bottom: 30px;

    h1 {
        margin: 0;
    }

    p {
        color: white;
    }
}

.main__logo {
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

    font-family: Montserrat, sans-serif;;
    font-size: 54px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;


    border-radius: 2px;

    .main__logo--left {
        border: 1px solid white;
        border-right: 0;

        padding: 30px;
        background-color: white;
        color: $yellow-color;

        line-height: 1;
    }

    .main__logo--right {
        padding: 30px 55px 30px 25px;

        color: white;

        border: 1px solid white;
        border-left: 0;

        background-color: rgba(0, 0, 0, 0.3);



    }
}

/****************** ABOUT ******************/
.about_logo {
    margin-top: 35px;//(100 / $ww)  + vw;
    text-align: center;
}

.about_service {
    margin-top: 55px;//(55 / $ww) + vw;
    margin-bottom: 190px;


    .about_service_text {

        position: relative;

        h3 {
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: $grey;
            padding-bottom: 10px;
            span {
                color: $yellow-color;
            }
        }

        p{  
            font-family: $font-family-base;
            font-weight: 200;
            text-align: justify;
            margin-bottom: 30px;
        }

        button {
            margin-top: 5px;
        }
    }

}

.photos_workers {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.photos_workers_block { 
    position: relative;
    width: 270px;
    height: 150px;

    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 400;

    margin-bottom: 20px;

    .photos_workers_block_img {
        width: 100%;
        height: 100%;

    }

    &:hover {
        cursor: pointer;
        .photos_workers_block_img {
            opacity: 0.5;
        }

        .photos_workers_block_text {
            left: 30px;
            color: $yellow-color;
        }
    }
}

.photos_workers_block_text {
    position: absolute;
    top: 95px;
    left: 15px;
    width: 117px;
    height: 43px;

    background-color: #333;
    color: #fff;

    padding-top: 12px;
    padding-left: 15px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/****************** Fix background ******************/

.fix_background {
    min-height: 380px;    
}

.fix_background--1 {
    background: url(../images/bg1.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fix_background--2 {
    background: url(../images/bg2.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fix_background--3 {
    background: url(../images/bg3.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.fix_background--4 {
    background: url(../images/bg4.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fix_background_row {

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
    padding-bottom: 120px;
}

.fix_background_row_img {
    margin-left: 60px;

    &:nth-child(1){
        margin:0;
    }
}

/****************** TEAM ******************/
.team_photos {
    margin-top: 50px;
}

.photos_workers_block--team { 
    position: relative;
    width: 193px;
    height: 180px;

    margin-bottom: 2px;

    .photos_workers_block_text--dif {
        position: absolute;
        top: 120px;
        left: 10px;
        height: auto;
        width: auto;

        padding: 15px 50px 15px 15px;

        span {
            color: $yellow-color;
        }
    }

    &:hover {
        opacity: 1;
        -moz-filter:grayscale(100%);
        -webkit-filter:grayscale(100%);
        -o-filter:grayscale(100%);
        -ms-filter:grayscale(100%);
        filter:grayscale(100%); 

        .photos_workers_block_text--dif {
            left: 10px;
            color: white;
        }
    }

}

/****************** Award ******************/
.award_card {
    margin-top: 50px;
    padding-bottom: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.award_card_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 420px;
    width: 270px;

    padding-bottom: 10px;//25px - 14px margin p

    border-bottom: 2px solid $grey;

    h3 {
        font-family: Montserrat, sans-serif;;
        font-size: 17px;
        font-weight: bold;
        color: white;
        background-color: $grey;

        width: 100%;
        height: 55px;

        text-align: center;
        padding-top: 16px;

        margin-bottom: 29px;

        span {
            color: $yellow-color;
        }
    }

    img {
        margin-bottom: 28px;
        min-height: 50px;
    }

    p {
        font-family: $font-family-base;
        font-weight: 200;
        text-align: center;
    }

    .award_card_block_line { 
        margin: auto auto 25px auto;
        width: 60px;
        height: 3px;
        background-color: $yellow-color;
    }

    h4 {
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 400;

        margin-bottom: 14px;
    }
}

.award_card_block_about {
    line-height: 1.25;
}


/****************** Portfolio ******************/
.portfolio_nav {
    margin-top: 60px;
    list-style-type: none;
    
    li {
        padding-left: 15px;

        &:nth-child(1){
            padding-left: 0;
        }

        .portfolio_nav_link {
            padding: 8px 35px;
            background-color: white;
            color: $grey;
            border: 1px solid $grey;

            font-family: $font-family-base;
            font-weight: 200;
            font-size: 14px;

            &:hover {
                background-color: $grey;
                color: $yellow-color;
            }
        }
    }
}

.portfolio_pages {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 45px;
}

.portfolio__wrap {
    position: relative;    
    width: 280px;
    height: 270px;
    margin-bottom: 15px;  

    .portfolio_pages_block_img {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    &:hover {     
        cursor: pointer; 

        .portfolio_pages_block {
            opacity: 1;
        }
    
        .portfolio_pages_block_img {
            opacity: 0;
        }
    }
}



.portfolio_pages_block {
    position: relative;
    border: 2px solid $grey;
    width: 100%;
    height: 100%;
    font-family: $font-family-base;
    font-weight: 200;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    background-color: white;

    opacity: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;    
    -ms-transition: all 0.3s ease-out;    
    -o-transition: all 0.3s ease-out;    
    transition: all 0.3s ease-out;
    h3 {
        padding-top: 40px;
        font-size: 18px;
    }

    p {
        padding: 25px;
        text-align: center;
    }
}


/****************** Partners ******************/
.partners_carousel {
    margin-top: 80px;

    .owl-item {
        width: 170px !important;
    }
}

/****************** Comments ******************/
.comments_people {
    margin-top: 50px;
    margin-bottom: 155px;

    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
}

.comments_people_block {
    position: relative;

    margin-bottom: 30px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    .block_img {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        img {
            width: 50px;
            height: 50px;
    
        }
    }

    .block_img_line {
        width: 100%;
        height: 3px;
        background: $yellow-color;
        margin-left: 15px;
        margin-top: 20px;
    }

    p {
        font-family: $font-family-base;
        font-weight: 200;

        margin-top: 15px;

        text-align: justify;
    }

    .block_img_line--black {
        margin: 5px 0 0 0;
        background: black;
    }

    .comments_people_block_row {
        margin-top: 15px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .block_name_img {
            width: 56px;
            height: 44px;
        }
    
        .comments_people_block_name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
    
            padding-left: 10px;
    
            h5 {
                margin: 0;
                font-family: $font-family-base;
                font-weight: 400;
                color: #313131;
            }
    
            p {
                margin: 0;
                font-family: $font-family-base;
                font-weight: 200;
                color: #5b5b5b;
            }
        }
    }

}

/****************** Goods ******************/

.grid {
    margin: 0 auto;
    max-width: 1170px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
    margin-top:50px;
    margin-bottom: 80px;
    width: 370px;
}

.grid-item {
  height: 340px;
  margin-bottom: 30px;
  float: left;
}
.grid-item--height2 { height: 410px; }
.grid-item--height3 { height: 200px; }




.goods {
    .card {
        border-bottom: 3px solid black !important;
        border-radius: 0 !important;
        background: inherit !important;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;

        .goods_carousel_prev_icon {
            background: url(../images/controls.png);
            width: 25px;
            height: 31px;
            background-position: 0px -33px;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            &:hover{
                background-position: 0px -64px;                
            }
        }
        .goods_carousel_next_icon {
            background: url(../images/controls.png);
            width: 25px;
            height: 31px;
            background-position: -44px -33px;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            &:hover{
                background-position: -44px -64px;                
            }
        }

        .card-body {
            padding: 10px 0 20px 0 !important;
    
    
            .card-title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                span {
                    padding-left: 10px;
    
                    font-family: Montserrat, sans-serif;;
                    font-weight: bold;
                    color: $grey;
                }
            }
    
            .card-text {
                font-weight: 200;
            }
        }

        .card-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding-left: 3px !important;
            padding-right: 7px !important;

            font-weight: 200;
            font-size: 12px;
            text-transform: uppercase;

            background: inherit !important;

            a {
                color: $grey;
            }
        }

    }
    .goods_row_btn {
        justify-content: center;
        align-items: center;

        margin-bottom: 150px;
    }
}

/****************** Subscribe ******************/


.subscribe_row{
    margin-top: 100px;

    .subscribe_input-group {
        //border: 1px solid #c7c7c7;
        height: 65px;

        input {
            height: 100%;
            border: none;
            padding-left: 25px;

            font-family: $font-family-base;
            font-size: 18px;
            font-style: italic;
            border-top:1px solid #c7c7c7;
            border-left:1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
        }

        button {
            border-top:1px solid #c7c7c7;
            border-right:1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
        }

    }
}

.subscribe_footer {
    margin-top: 45px;

    h5 {
        font-family: Montserrat , sans-serif;
        font-size: 18px;
        font-weight: bold;
        background-color: $grey;
        padding: 20px 0 15px 15px;
        color:white;

        margin-bottom: 25px;
        span {
            color: $yellow-color;
        }
    }

    p {
        margin-bottom: 25px;
        font-weight: 200;
    }

    input {
        height: 45px;
        padding: 15px 0 15px 15px;

        font-weight: 200;
        font-style: italic;
        border-radius: 0;

        border:1px solid #929292;
        margin-bottom: 20px;
        ::placeholder {
            color: #505050 !important;
        }
    }

    .subscribe_textarea {
        padding-top: 15px;
        padding-left: 15px;

        font-weight: 200;
        font-style: italic;
        border-radius: 0;

        border:1px solid #929292;
        resize: none;
        margin-bottom: 25px;
    }

    .form-control_btn {
        display: inline-block;

        margin-right: 20px;
    }

    .subscribe_get {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 10px;

        p,a {
            color: #505050;
            font-weight: 200;
            margin: 0;
            padding-left: 10px;
        }
    }

    .subscribe_btn {
        width: 45px;
        height: 40px;
        background-color: $yellow-color;
        border: solid 1px $yellow-color;

        font-size: 18px;
        margin-right: 15px;
        display: inline-block;
        text-align: center;
        padding-top: 7px;
        color: white;

        &:hover {
            background-color: $grey;
        }
    }
}
.subscribe__msg,.subscribe__social{
    margin-bottom: 70px;
}
.subscribe_bottom-title {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: $grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;

    span {
        color: $yellow-color;
    }
}

.subscribe_copy {
    width: 100%;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}